.jg__stimmen {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    color: var(--color-text);
}

.jg__stimmen-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
}