.jg__wahl {
    color: var(--color-text);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.jg__wahl h1 {
    padding-top: 6rem;
    font-weight: 800;
    font-size: 62px;
    line-height: 75px;
    letter-spacing: -0.04em;
}

.jg__wahl-step {
    margin-bottom: 20px;
    text-align: center;
}

.jg__wahl-image {
    width: 100%;
    max-width: 850px;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

.jg__wahl-text {
    font-size: 16px;
}